.header {
    display: flex;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6979166666666667) 0%, rgba(0, 0, 0, 0.75) 46%, rgba(0, 0, 0, 0.7) 100%);
    padding: 10px;
    max-height: 50px;
    box-shadow: 0px 1px 1.98px 0.02px rgba(0, 0, 0, 0.42);
    justify-content: center;
}

.main_logo{
    background-image: url('./../img/logo.png');
    width: 152px;
    height: 52px;
}

.header_logo {
    display: flex;
}

.more
{
    background-image: url('./../img/More.png');
    width: 50px;
    height: 40px;
    padding-right: 20px;
    background-repeat: no-repeat;
}
.more:hover
{
    background-image: url('./../img/More_on.png');
    width: 50px;
    height: 40px;
    padding-right: 20px;
    background-repeat: no-repeat;
}
.menu {
    font-size: 17px;
    display: flex;
    line-height: normal;
    color: #aaaaaa;
    font-weight: 650;
    padding-left: 10px;
}

.menu .items {
    display: inline-block;
    padding: 10px;
}

.menu .items:hover {
    text-decoration: underline;
    color: #c4c4c4;
    cursor: default;
}
.mobile_items
{
    display: none;
}

@media all and (max-width:768px)
{
    .header_logo {
        display: flex;
        width: 100%;
        justify-content: space-between;

    }
    .menu
    {
        display: none;
    }
    .mobile_items img
    {
    width: 50px;
    height: 45px;

    }
    .mobile_items
    {
        display: flex;
    }
    .main_logo
    {
        display: flex;
    }

}